#as-admin-bar * {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    position: static;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1;
    font: normal 13px/28px Arial, Helvetica, sans-serif;
    color: #ddd;
    text-shadow: #555 0 -1px 0;
}
#as-admin-bar :before, #as-admin-bar :after {
    content: normal;
}
#as-admin-bar a, #as-admin-bar a:hover, #as-admin-bar a img, #as-admin-bar a img:hover {
    outline: none;
    border: none;
    text-decoration: none;
    background: none;
}
#as-admin-bar {
    direction: ltr;
    color: #ccc;
    font: normal 13px/28px sans-serif;
    height: 28px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background-color: #464646;
    background-image: -ms-linear-gradient(bottom, #373737, #464646 5px);
    background-image: -moz-linear-gradient(bottom, #373737, #464646 5px);
    background-image: -o-linear-gradient(bottom, #373737, #464646 5px);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#373737), to(#464646));
    background-image: -webkit-linear-gradient(bottom, #373737, #464646 5px);
    background-image: linear-gradient(bottom, #373737, #464646 5px);
}
#as-admin-bar ul, #as-admin-bar ul li {
    background: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}
#as-admin-bar .quicklinks ul {
    text-align: left;
}
#as-admin-bar .quicklinks ul li {
    float: left;
}
#as-admin-bar .quicklinks>ul>li>a {
    border-right: 1px solid #686868;
    border-left: 1px solid #808080;
}
#as-admin-bar .quicklinks>ul>li:last-child>a {
    border-right: none;
}
#as-admin-bar .quicklinks>ul>li:hover>a {
    border-left-color: #707070;
}
#as-admin-bar .quicklinks a, #as-admin-bar .shortlink-input {
    height: 28px;
    display: block;
    padding: 0 .85em;
    margin: 0;
}
#as-admin-bar .quicklinks a>span {
    line-height: 28px;
}
#as-admin-bar .quicklinks .menupop ul, #as-admin-bar .shortlink-input {
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    background: rgba(255, 255, 255, 0.97);
    display: none;
    position: absolute;
    border: 1px solid #dfdfdf;
    border-top: none;
    float: none;
}
#as-admin-bar .selected .shortlink-input {
    display: block;
}
#as-admin-bar .quicklinks .menupop ul li {
    float: none;
}
#as-admin-bar .quicklinks .menupop ul li a strong {
    font-weight: bold;
}
#as-admin-bar .quicklinks .menupop ul li a, #as-admin-bar .quicklinks .menupop ul li a span, #as-admin-bar .quicklinks .menupop ul li a strong, #as-admin-bar .shortlink-input {
    color: #555;
    text-shadow: none;
    white-space: nowrap;
    min-width: 140px;
}
#as-admin-bar .shortlink-input {
    width: 200px;
}
#as-admin-bar .quicklinks .menupop ul li:hover>a, #as-admin-bar .quicklinks .menupop ul li:hover>a span, #as-admin-bar .quicklinks .menupop ul li:hover>a strong {
    color: #fff;
    text-shadow: #666 0 -1px 0;
}
#as-admin-bar .quicklinks li:hover>ul, #as-admin-bar .quicklinks li.hover>ul {
    display: block;
}
#as-admin-bar .quicklinks .menupop li:hover>ul, #as-admin-bar .quicklinks .menupop li.hover>ul {
    margin-left: 100%;
    margin-top: -28px;
}
#as-admin-bar .quicklinks li:hover, #as-admin-bar .quicklinks .selected {
    background: #555;
    background: -moz-linear-gradient(bottom, #555, #3e3e3e);
    background: -webkit-gradient(linear, left bottom, left top, from(#555), to(#3e3e3e));
}
#as-admin-bar .quicklinks .menupop li:hover {
    background: #888;
    background: -moz-linear-gradient(bottom, #888, #9d9d9d);
    background: -webkit-gradient(linear, left bottom, left top, from(#888), to(#9d9d9d));
}
#as-admin-bar .quicklinks .menupop a>span {
    display: inline;
    background: url(admin-bar-sprite.png) right -58px no-repeat;
    padding-right: .8em;
}
#as-admin-bar .quicklinks .menupop ul li a>span {
    display: block;
    background: url(admin-bar-sprite.png) right -29px no-repeat;
    padding-right: 1.5em;
}
#as-admin-bar .quicklinks a span#ab-awaiting-mod, #as-admin-bar .quicklinks a span#ab-updates {
    background: #FF0000;
    color: #fff;
    text-shadow: none;
    display: inline;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: bold;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#as-admin-bar .quicklinks a:hover span#ab-awaiting-mod, #as-admin-bar .quicklinks a:hover span#ab-updates {
    background: #fff;
    color: #000;
}
#as-admin-bar .quicklinks li#wp-admin-bar-my-account>a {
    border-left: none;
}
#as-admin-bar .quicklinks li#admin-avatar>a {
    border-left: none;
    background: url(admin-bar-sprite.png) top left no-repeat;
}
#as-admin-bar .quicklinks li#admin-avatar>a img {
    width: 20px;
    height: 20px;
    display: inline;
    border: 1px solid #999;
    vertical-align: middle;
    margin: -2px 23px 0 -5px;
    padding: 0;
    background: #eee;
    float: none;
}
#as-admin-bar .quicklinks li#admin-avatar ul {
    left: 30px;
}
#as-admin-bar .quicklinks li#admin-avatar ul ul {
    left: 0;
}
#as-admin-bar .quicklinks .menupop li a img.blavatar {
    vertical-align: middle;
    margin: 0 8px 0 0;
    padding: 0;
}
#as-admin-bar #adminbarsearch {
    float: right;
    height: 18px;
    padding: 3px;
    margin: 0;
}
#as-admin-bar #adminbarsearch .adminbar-input {
    width: 140px;
    height: auto;
    float: left;
    font: 12px Arial, Helvetica, sans-serif;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #626262;
    padding: 2px 3px;
    margin: 0 3px 0 0;
    background: #fff;
    -moz-box-shadow: inset 2px 2px 1px #cdcdcd;
    -webkit-box-shadow: inset 2px 2px 1px #cdcdcd;
    box-shadow: inset 2px 2px 1px #cdcdcd;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
#as-admin-bar #adminbarsearch .adminbar-button {
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #444;
    text-shadow: 0 1px 0 #eee;
    cursor: pointer;
    float: left;
    background: #aaa;
    background: -moz-linear-gradient(bottom, #aaa, #cecece);
    background: -webkit-gradient(linear, left bottom, left top, from(#aaa), to(#cecece));
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #626262;
    padding: 2px 13px;
    margin: 0;
    width: auto;
    height: auto;
}
#as-admin-bar #adminbarsearch .adminbar-button:active {
    background: #a0a0a0;
    background: -moz-linear-gradient(bottom, #a0a0a0, #c1c1c1);
    background: -webkit-gradient(linear, left bottom, left top, from(#a0a0a0), to(#c1c1c1));
    -moz-box-shadow: inset 1px 1px 1px #9b9b9b;
    -webkit-box-shadow: inset 1px 1px 1px #9b9b9b;
    box-shadow: inset 1px 1px 1px #9b9b9b;
}
#as-admin-bar #adminbarsearch .adminbar-button:hover {
    color: #000;
}
#as-admin-bar #adminbarsearch .adminbar-button::-moz-focus-inner {
    border: none;
}
* html #as-admin-bar {
    overflow: hidden;
    position: absolute;
}
* html #as-admin-bar .quicklinks ul li a {
    float: left;
}
* html #as-admin-bar .menupop a span {
    background-image: none;
}


#as-admin-bar td li {
	list-style: none;
}

#as-admin-bar .sitecontent a{
    display: inline;
    padding: 0px 0px 0px 0px ;
}

#as-admin-bar .sitecontent  table td a:hover {
    color: #fff;
    background: #a0a0a0;
    background: -moz-linear-gradient(bottom, #a0a0a0, #c1c1c1);
    background: -webkit-gradient(linear, left bottom, left top, from(#a0a0a0), to(#c1c1c1));
    -moz-box-shadow: inset 1px 1px 1px #9b9b9b;
    -webkit-box-shadow: inset 1px 1px 1px #9b9b9b;
    box-shadow: inset 1px 1px 1px #9b9b9b;
 }