	/*********************************************************/
	/**************			place			******************/
	/*********************************************************/
.contenedor_menu{
    position: relative;
    width: 600px;
    padding: 0px;
    margin: 0px;
    float: right;
    z-index: 500;
}

#navigation {width: 100%; background: #333; border-top: 4px solid #333; height: 16px;}
#navigation > div {}
#navigation ul, #navigation li {list-style:none; padding:0; margin:0; display:block; background: #333;}
#navigation ul {margin-left: 6px}
#navigation ul ul {margin-top: 0px; border: none;}
#navigation ul li{float:left; position:relative; margin: 0px 4px 0; height: 16px;}

#navigation ul li a { 
	font-family: "Open Sans", Arial, sans-serif;
	display: inline-block;
	color: #FFF;
	padding: 0px 15px 3px 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;;
	margin: -10px 0px 0px 0; 
}

#navigation ul li a:hover{
	background: #EC6;
	padding: 0px 15px 3px 15px;
	color: #333;
}

#navigation ul ul { 
	opacity: 0; 
  	filter: alpha(opacity=0); 
	position: absolute;
	top:-99999px; 
	left: 0;
	z-index: 999999;
	background: #333;
	width: 150px;
}

#navigation ul ul:hover {
	z-index: 999999;
}

#navigation ul ul li{
	margin: 0;
	width:120px;
	height: 20px;
}

#navigation ul ul li a:hover {
	/*background: #EC6;*/
	padding: 0px 6px 3px;
	margin: 0;
	color: #333 !important;
	font-family: Tahoma, Arial, sans-serif;
	text-transform: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}

#navigation ul ul li a {
	padding: 0px 6px 3px;
	margin: 0;
	display: block;
	width: 138px;
	background: #333;
	color: #FFF !important;
	font-family: Tahoma, Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 0;
}

#navigation ul ul ul { 
	position:absolute; 
	top:-99999px; 
	left:100%; 
	opacity: 0;
	margin-left: 26px;
}

#navigation ul li:hover > ul{
	opacity:1;
	position:absolute;
	top:99%;
	left:-6px;
}

#navigation ul ul li:hover > ul{
	position:absolute;
	top:0;
	left:102%;
	opacity: 1;
	z-index:497;
}

#navigation ul li:hover > a {
	background: #EC6;
	background-image: url('/Portals/_Appleseed/images/AHRI/ahri-topnav-gradient.png');
	padding: 0px 15px 3px 15px;
	color: #333;
	height:	13px;
}

#navigation ul ul li:hover > a {
	padding: 0px 6px 3px;
	color: #333;
	text-transform: uppercase;
}

/*#current {
	background: #EC6 !important;
	padding: 0px 15px 3px 15px;
	color: #333 !important;
}*/
        /*****************************************/
        /**********  SiteNav Styles   ************/
        /*****************************************/
	
.sitenav {
	border: 1px solid #CCC;
}
	
.sitenav li {
	color: #247;
	font-size: 13px;
	border-bottom: 1px solid #CCC;
	padding: 11px 10px 9px 17px;
}
	
.sitenav li:hover {
	color: #479;
	background-image: url('/Portals/_Appleseed/images/AHRI/left_nav_bullet.png');
	background-position: 7px center;
	background-repeat: no-repeat;
}
	
.sitenav > ul > li:hover {
	background-color: #DEF;
}
	
.sitenav a {
	color: #247;
	font-size: 13px;
}
	
.sitenav li:hover a {
	color: #D82;
}
	
.sitenav li.submenu:hover {
	background: none;
}
	
.sitenav li.current {
}
	
.sitenav li.last {
	border-bottom: none;
}

.sitenav > ul > li > .subnav-wrapper { 
	opacity: 0; 
  	filter: alpha(opacity=0); 
	position: absolute;
	top:-99999px; 
	left: 0;
	z-index: 999999;
	background: #EEE;		
	max-height: 460px;
	border: 1px solid #CCC;
}

.sitenav > ul > li > .subnav-wrapper.wide {
	width: 580px;
}

.sitenav > ul > li > .subnav-wrapper > ul {
	float: left;
}

.sitenav ul ul:hover {
	z-index: 999999;
}

.sitenav ul ul li{
	border: none;
	width:180px;
}

.sitenav ul .wide ul li{
	width:165px;

}

.sitenav ul ul li a:hover {
	margin: 0;
	color: #D82 !important;
	/*background-image: url('/Portals/_Appleseed/images/AHRI/left_nav_bullet.png');
	background-position: -7px center;
	background-repeat: no-repeat;*/
}

.sitenav ul ul li a {
	margin: 0;
	display: block;
	color: #247 !important;
}

.sitenav ul ul ul {
	opacity: 0; 
  	filter: alpha(opacity=0); 
	position: absolute;
	top:-99999px; 
	left: 0;
	z-index: 999999;
	background: #EEE;		
	max-height: 460px;
	border: 1px solid #CCC;
}

.sitenav ul li:hover > .subnav-wrapper {  
	opacity:1;
	position:absolute;
	top:0;
	left:99%;
}

.sitenav ul li > .subnav-wrapper:hover {  
	opacity:1;
	position:absolute;
	top:0;
	left:99%;
}

.sitenav ul ul li:hover > ul{
	opacity: 1;
	position:absolute;
	top:38px;
	left:100%;
}

        /*****************************************/
        /**********  SimpleMenu Styles   ************/
        /*****************************************/
	
.sm_SimpleMenu {
	border: 1px solid #CCC;
}
	
.module_Body table.sm_SimpleMenu td {
	color: #247;
	font-size: 13px;
	border-bottom: 1px solid #CCC;
	padding: 11px 10px 9px 17px;
}
	
.sm_SimpleMenu td:hover {
	color: #479;
	background-image: url('/Portals/_Appleseed/images/AHRI/left_nav_bullet.png');
	background-position: 7px center;
	background-repeat: no-repeat;
}
	
.sm_SimpleMenu > tbody > tr > td:hover {
	background-color: #DEF;
}
	
.sm_SimpleMenu a {
	color: #247;
	font-size: 13px;
}
	
.sm_SimpleMenu td:hover a {
	color: #D82;
}


    
.AspNet-Menu-Horizontal							/*		div containing menu		*/
{
    z-index: 300;
    padding: 0px 0px 0px 0px; 
    /*height: 50px;*/
    width: 100%;
    margin: 0 ;
    /*float: right;*/
}






	/*************************************************************/
	/**************		Menu Behavior DO NOT EDIT	**************/
	/*************************************************************/
    
ul.AspNet-Menu li:hover ul ul,
ul.AspNet-Menu li.AspNet-Menu-Hover ul ul
{
    visibility: hidden;}
    
ul.AspNet-Menu li:hover ul,
ul.AspNet-Menu li li:hover ul,
ul.AspNet-Menu li li li:hover ul,
ul.AspNet-Menu li.AspNet-Menu-Hover ul,
ul.AspNet-Menu li li.AspNet-Menu-Hover ul,
ul.AspNet-Menu li li li.AspNet-Menu-Hover ul
{
    visibility: visible;    
    display:block;
}


/* 
Menu Structure

<div class="AspNet-Menu-Horizontal">
		<ul class="AspNet-Menu">						
			<li class="AspNet-Menu-WithChildren">
				<a class="AspNet-Menu-Link">Paquetes</a>
				<ul>
					<li class="AspNet-Menu-Leaf">
						<a class="AspNet-Menu-Link">Caribe</a>
					</li>
*/