<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <URL>http://www.appleseed.com</URL>

    <album>Tchaikovsky: The Nutcracker</album>
    <album2>Sibelius: Finlandia</album2>
    <genre>Classical</genre>

    <user>
        <username>DefaultUser</username>
        <password>AlsoDefaultUser</password>
        <firstName>Joe</firstName>
        <lastName>Schmoe</lastName>
        <address>123 Main St</address>
        <city>Hometown</city>
        <state>NC</state>
        <postalCode>12345</postalCode>
        <country>US</country>
        <phoneNumber>555-555-5555</phoneNumber>
        <emailAddress>contact@tiernok.com</emailAddress>
    </user>
</configuration>
