@font-face {
  font-family: "anant-icons";
  src: url("/Design/Themes/Theme.Next/fonts/anant-icons.eot");
  src: url("/Design/Themes/Theme.Next/fonts/anant-icons.eot?#iefix") format("embedded-opentype"), url("/Design/Themes/Theme.Next/fonts/anant-icons.woff") format("woff"), url("../fonts/anant-icons.ttf") format("truetype"), url("../fonts/anant-icons.svg#anant-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "anant-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "anant-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3d-glasses:before {
  content: "a";
}

.icon-agreement:before {
  content: "b";
}

.icon-air-balloon:before {
  content: "c";
}

.icon-ambulance:before {
  content: "d";
}

.icon-angle:before {
  content: "e";
}

.icon-apple:before {
  content: "f";
}

.icon-architectural-plan:before {
  content: "g";
}

.icon-armchair-1:before {
  content: "h";
}

.icon-armchair-2:before {
  content: "i";
}

.icon-artwork:before {
  content: "j";
}

.icon-artwork-hanged:before {
  content: "k";
}

.icon-atomic:before {
  content: "l";
}

.icon-aubergine:before {
  content: "m";
}

.icon-auction:before {
  content: "n";
}

.icon-avocado:before {
  content: "o";
}

.icon-badge:before {
  content: "p";
}

.icon-band-aid:before {
  content: "q";
}

.icon-bank:before {
  content: "r";
}

.icon-bar:before {
  content: "s";
}

.icon-bicycle:before {
  content: "t";
}

.icon-billboard-big:before {
  content: "u";
}

.icon-billboard-small:before {
  content: "v";
}

.icon-bird-post:before {
  content: "w";
}

.icon-blender:before {
  content: "x";
}

.icon-bolt:before {
  content: "y";
}

.icon-borer:before {
  content: "z";
}

.icon-brain:before {
  content: "A";
}

.icon-brainstorming:before {
  content: "B";
}

.icon-bread:before {
  content: "C";
}

.icon-bread-toaster:before {
  content: "D";
}

.icon-breakfast-table:before {
  content: "E";
}

.icon-brick-wall:before {
  content: "F";
}

.icon-briefcase:before {
  content: "G";
}

.icon-building:before {
  content: "H";
}

.icon-building-2:before {
  content: "I";
}

.icon-builtin-wardrobe:before {
  content: "J";
}

.icon-bulldozer:before {
  content: "K";
}

.icon-calculator:before {
  content: "L";
}

.icon-camera:before {
  content: "M";
}

.icon-camera-digital:before {
  content: "N";
}

.icon-camera-display:before {
  content: "O";
}

.icon-camera-old:before {
  content: "P";
}

.icon-camera-polaroid:before {
  content: "Q";
}

.icon-camera-vintage:before {
  content: "R";
}

.icon-cans:before {
  content: "S";
}

.icon-car:before {
  content: "T";
}

.icon-carrot:before {
  content: "U";
}

.icon-cassette:before {
  content: "V";
}

.icon-casual-shirt:before {
  content: "W";
}

.icon-caterpillar:before {
  content: "X";
}

.icon-chainsaw:before {
  content: "Y";
}

.icon-chat-bubble:before {
  content: "Z";
}

.icon-chat-bubbles:before {
  content: "0";
}

.icon-chat-dialog:before {
  content: "1";
}

.icon-chat-group:before {
  content: "2";
}

.icon-cheque:before {
  content: "3";
}

.icon-chess-bishop:before {
  content: "4";
}

.icon-chess-horse:before {
  content: "5";
}

.icon-chess-pawn:before {
  content: "6";
}

.icon-chess-queen:before {
  content: "7";
}

.icon-chicken:before {
  content: "8";
}

.icon-chiese:before {
  content: "9";
}

.icon-cinema:before {
  content: "!";
}

.icon-cinema-chair:before {
  content: "\"";
}

.icon-clapboard:before {
  content: "#";
}

.icon-click:before {
  content: "$";
}

.icon-clock-money:before {
  content: "%";
}

.icon-cloud:before {
  content: "&";
}

.icon-cloud-rain:before {
  content: "'";
}

.icon-cloud-snow:before {
  content: "(";
}

.icon-cloud-sun:before {
  content: ")";
}

.icon-cloud-sun-rain:before {
  content: "*";
}

.icon-cloud-sun-snow:before {
  content: "+";
}

.icon-cloud-sun-thunder:before {
  content: ",";
}

.icon-cloud-sun-wind:before {
  content: "-";
}

.icon-cloud-thunder:before {
  content: ".";
}

.icon-cloud-wind:before {
  content: "/";
}

.icon-coat:before {
  content: ":";
}

.icon-coffee-machine:before {
  content: ";";
}

.icon-cog-chain:before {
  content: "<";
}

.icon-cog-mechanicsl:before {
  content: "=";
}

.icon-communication-canes:before {
  content: ">";
}

.icon-compound:before {
  content: "?";
}

.icon-computer:before {
  content: "@";
}

.icon-condomnium:before {
  content: "[";
}

.icon-construction-cone:before {
  content: "]";
}

.icon-construction-sign:before {
  content: "^";
}

.icon-corset:before {
  content: "_";
}

.icon-countdown:before {
  content: "`";
}

.icon-crane:before {
  content: "{";
}

.icon-credit-card:before {
  content: "|";
}

.icon-cube:before {
  content: "}";
}

.icon-currency-conversion:before {
  content: "~";
}

.icon-cutlery-1:before {
  content: "\|";
}

.icon-cutlery-2:before {
  content: "\e000";
}

.icon-cutting-board:before {
  content: "\e001";
}

.icon-diamond:before {
  content: "\e002";
}

.icon-digital-watch:before {
  content: "\e003";
}

.icon-dining-table:before {
  content: "\e004";
}

.icon-director-chair:before {
  content: "\e005";
}

.icon-dishes:before {
  content: "\e006";
}

.icon-dishwashes:before {
  content: "\e007";
}

.icon-dna-strain:before {
  content: "\e008";
}

.icon-doctor:before {
  content: "\e009";
}

.icon-double-bed:before {
  content: "\e00a";
}

.icon-drill:before {
  content: "\e00b";
}

.icon-earth-layers:before {
  content: "\e00c";
}

.icon-egg:before {
  content: "\e00d";
}

.icon-email-marketing:before {
  content: "\e00e";
}

.icon-employee-rank:before {
  content: "\e00f";
}

.icon-employee-switch:before {
  content: "\e010";
}

.icon-entrance-door:before {
  content: "\e011";
}

.icon-envelope-closed:before {
  content: "\e012";
}

.icon-envelope-opened:before {
  content: "\e013";
}

.icon-envelope-send:before {
  content: "\e014";
}

.icon-experiment:before {
  content: "\e015";
}

.icon-fax:before {
  content: "\e016";
}

.icon-file-acrobat:before {
  content: "\e017";
}

.icon-file-artboard:before {
  content: "\e018";
}

.icon-file-article:before {
  content: "\e019";
}

.icon-file-audio:before {
  content: "\e01a";
}

.icon-file-broken:before {
  content: "\e01b";
}

.icon-file-brush:before {
  content: "\e01c";
}

.icon-file-cd:before {
  content: "\e01d";
}

.icon-file-chart-pie:before {
  content: "\e01e";
}

.icon-file-chart-pipe:before {
  content: "\e01f";
}

.icon-file-css:before {
  content: "\e020";
}

.icon-file-html:before {
  content: "\e021";
}

.icon-file-js:before {
  content: "\e022";
}

.icon-file-pen:before {
  content: "\e023";
}

.icon-file-pen-line:before {
  content: "\e024";
}

.icon-file-photo:before {
  content: "\e025";
}

.icon-file-table:before {
  content: "\e026";
}

.icon-file-text:before {
  content: "\e027";
}

.icon-file-video-1:before {
  content: "\e028";
}

.icon-file-video-2:before {
  content: "\e029";
}

.icon-file-zip:before {
  content: "\e02a";
}

.icon-files:before {
  content: "\e02b";
}

.icon-filmreel:before {
  content: "\e02c";
}

.icon-filmroll:before {
  content: "\e02d";
}

.icon-filmstrip:before {
  content: "\e02e";
}

.icon-financial-report:before {
  content: "\e02f";
}

.icon-fingerprint:before {
  content: "\e030";
}

.icon-fire-engine:before {
  content: "\e031";
}

.icon-fire-extinguisher:before {
  content: "\e032";
}

.icon-fire-station:before {
  content: "\e033";
}

.icon-fireman:before {
  content: "\e034";
}

.icon-firewall:before {
  content: "\e035";
}

.icon-flash:before {
  content: "\e036";
}

.icon-floor-plan:before {
  content: "\e037";
}

.icon-formal-shirt:before {
  content: "\e038";
}

.icon-formula:before {
  content: "\e039";
}

.icon-foyer:before {
  content: "\e03a";
}

.icon-french-press:before {
  content: "\e03b";
}

.icon-fridge:before {
  content: "\e03c";
}

.icon-garlic:before {
  content: "\e03d";
}

.icon-geo-location:before {
  content: "\e03e";
}

.icon-goal:before {
  content: "\e03f";
}

.icon-gold-sticks:before {
  content: "\e040";
}

.icon-hamburger:before {
  content: "\e041";
}

.icon-hammer:before {
  content: "\e042";
}

.icon-hand-cuffs:before {
  content: "\e043";
}

.icon-hand-house:before {
  content: "\e044";
}

.icon-hand-key:before {
  content: "\e045";
}

.icon-hands-house:before {
  content: "\e046";
}

.icon-handshake:before {
  content: "\e047";
}

.icon-hard-disk:before {
  content: "\e048";
}

.icon-hard-hat:before {
  content: "\e049";
}

.icon-haze:before {
  content: "\e04a";
}

.icon-heart:before {
  content: "\e04b";
}

.icon-herbal-medicine:before {
  content: "\e04c";
}

.icon-high-heels:before {
  content: "\e04d";
}

.icon-home-builder:before {
  content: "\e04e";
}

.icon-home-exchange:before {
  content: "\e04f";
}

.icon-hoodie:before {
  content: "\e050";
}

.icon-hospital:before {
  content: "\e051";
}

.icon-hot-tub:before {
  content: "\e052";
}

.icon-house:before {
  content: "\e053";
}

.icon-house-key:before {
  content: "\e054";
}

.icon-house-location:before {
  content: "\e055";
}

.icon-house-lock:before {
  content: "\e056";
}

.icon-house-modern:before {
  content: "\e057";
}

.icon-house-money:before {
  content: "\e058";
}

.icon-house-search:before {
  content: "\e059";
}

.icon-house-stats:before {
  content: "\e05a";
}

.icon-icecream-stand:before {
  content: "\e05b";
}

.icon-idea:before {
  content: "\e05c";
}

.icon-idea-2:before {
  content: "\e05d";
}

.icon-imac:before {
  content: "\e05e";
}

.icon-imac-click:before {
  content: "\e05f";
}

.icon-imac-ipad:before {
  content: "\e060";
}

.icon-imac-ipad-iphone:before {
  content: "\e061";
}

.icon-imac-iphone:before {
  content: "\e062";
}

.icon-imac-money:before {
  content: "\e063";
}

.icon-imac-webcam:before {
  content: "\e064";
}

.icon-imac-webshop:before {
  content: "\e065";
}

.icon-infusion:before {
  content: "\e066";
}

.icon-injury:before {
  content: "\e067";
}

.icon-ipad:before {
  content: "\e068";
}

.icon-iphone:before {
  content: "\e069";
}

.icon-ipod:before {
  content: "\e06a";
}

.icon-iwatch:before {
  content: "\e06b";
}

.icon-jacket:before {
  content: "\e06c";
}

.icon-jar:before {
  content: "\e06d";
}

.icon-jeans:before {
  content: "\e06e";
}

.icon-key-circled:before {
  content: "\e06f";
}

.icon-key-squared:before {
  content: "\e070";
}

.icon-keyboard:before {
  content: "\e071";
}

.icon-keyword-search:before {
  content: "\e072";
}

.icon-kitchen-chief:before {
  content: "\e073";
}

.icon-labyrinth:before {
  content: "\e074";
}

.icon-laptop:before {
  content: "\e075";
}

.icon-laptop-launch:before {
  content: "\e076";
}

.icon-lemon:before {
  content: "\e077";
}

.icon-lenses:before {
  content: "\e078";
}

.icon-library:before {
  content: "\e079";
}

.icon-lighting:before {
  content: "\e07a";
}

.icon-link-broken:before {
  content: "\e07b";
}

.icon-link-building:before {
  content: "\e07c";
}

.icon-lock:before {
  content: "\e07d";
}

.icon-lungs:before {
  content: "\e07e";
}

.icon-magnet:before {
  content: "\e07f";
}

.icon-meal:before {
  content: "\e080";
}

.icon-medical-history:before {
  content: "\e081";
}

.icon-medicine-symbol:before {
  content: "\e082";
}

.icon-medkit:before {
  content: "\e083";
}

.icon-megaphone:before {
  content: "\e084";
}

.icon-memory-card:before {
  content: "\e085";
}

.icon-metro:before {
  content: "\e086";
}

.icon-microbe:before {
  content: "\e087";
}

.icon-microchip:before {
  content: "\e088";
}

.icon-microscope:before {
  content: "\e089";
}

.icon-microwave:before {
  content: "\e08a";
}

.icon-milk:before {
  content: "\e08b";
}

.icon-mixer:before {
  content: "\e08c";
}

.icon-money-bag:before {
  content: "\e08d";
}

.icon-money-briefcase:before {
  content: "\e08e";
}

.icon-money-donate:before {
  content: "\e08f";
}

.icon-money-keep:before {
  content: "\e090";
}

.icon-money-share:before {
  content: "\e091";
}

.icon-monument:before {
  content: "\e092";
}

.icon-motherboard:before {
  content: "\e093";
}

.icon-mouse:before {
  content: "\e094";
}

.icon-movie-star:before {
  content: "\e095";
}

.icon-newton-balls:before {
  content: "\e096";
}

.icon-nightstand:before {
  content: "\e097";
}

.icon-nurse:before {
  content: "\e098";
}

.icon-objective:before {
  content: "\e099";
}

.icon-office:before {
  content: "\e09a";
}

.icon-office-chair:before {
  content: "\e09b";
}

.icon-office-key:before {
  content: "\e09c";
}

.icon-office-table:before {
  content: "\e09d";
}

.icon-old-mobile:before {
  content: "\e09e";
}

.icon-orange:before {
  content: "\e09f";
}

.icon-ornamental-table:before {
  content: "\e0a0";
}

.icon-oscar-human:before {
  content: "\e0a1";
}

.icon-oscar-star:before {
  content: "\e0a2";
}

.icon-oven:before {
  content: "\e0a3";
}

.icon-page-rank:before {
  content: "\e0a4";
}

.icon-pan:before {
  content: "\e0a5";
}

.icon-panorama:before {
  content: "\e0a6";
}

.icon-paper-marketing:before {
  content: "\e0a7";
}

.icon-paperplane:before {
  content: "\e0a8";
}

.icon-park:before {
  content: "\e0a9";
}

.icon-passcode:before {
  content: "\e0aa";
}

.icon-pay-per-click:before {
  content: "\e0ab";
}

.icon-pear:before {
  content: "\e0ac";
}

.icon-peper:before {
  content: "\e0ad";
}

.icon-percent-gain:before {
  content: "\e0ae";
}

.icon-phone:before {
  content: "\e0af";
}

.icon-phone-handle:before {
  content: "\e0b0";
}

.icon-phone-old:before {
  content: "\e0b1";
}

.icon-phonebooth:before {
  content: "\e0b2";
}

.icon-photo:before {
  content: "\e0b3";
}

.icon-photo-mobile:before {
  content: "\e0b4";
}

.icon-photo-tablet:before {
  content: "\e0b5";
}

.icon-pietre-dish:before {
  content: "\e0b6";
}

.icon-piggy-bank:before {
  content: "\e0b7";
}

.icon-pijama:before {
  content: "\e0b8";
}

.icon-pill:before {
  content: "\e0b9";
}

.icon-pills:before {
  content: "\e0ba";
}

.icon-polaroid-photo:before {
  content: "\e0bb";
}

.icon-police-car:before {
  content: "\e0bc";
}

.icon-police-lights:before {
  content: "\e0bd";
}

.icon-police-station:before {
  content: "\e0be";
}

.icon-policeman:before {
  content: "\e0bf";
}

.icon-polo:before {
  content: "\e0c0";
}

.icon-popcorn:before {
  content: "\e0c1";
}

.icon-post-inbox:before {
  content: "\e0c2";
}

.icon-postmark:before {
  content: "\e0c3";
}

.icon-presentation-man:before {
  content: "\e0c4";
}

.icon-presentation-pie:before {
  content: "\e0c5";
}

.icon-presentation-pipe:before {
  content: "\e0c6";
}

.icon-presentation-strategy:before {
  content: "\e0c7";
}

.icon-private-agent:before {
  content: "\e0c8";
}

.icon-puzzle:before {
  content: "\e0c9";
}

.icon-pyramid-scheme:before {
  content: "\e0ca";
}

.icon-remote-lock:before {
  content: "\e0cb";
}

.icon-repairman:before {
  content: "\e0cc";
}

.icon-robot:before {
  content: "\e0cd";
}

.icon-roller:before {
  content: "\e0ce";
}

.icon-safe-closed:before {
  content: "\e0cf";
}

.icon-safe-opened:before {
  content: "\e0d0";
}

.icon-sandclock-money:before {
  content: "\e0d1";
}

.icon-satelite:before {
  content: "\e0d2";
}

.icon-scarf-hat:before {
  content: "\e0d3";
}

.icon-scientist:before {
  content: "\e0d4";
}

.icon-screwdriver:before {
  content: "\e0d5";
}

.icon-security-cam:before {
  content: "\e0d6";
}

.icon-serving-plate:before {
  content: "\e0d7";
}

.icon-shoes:before {
  content: "\e0d8";
}

.icon-shorts:before {
  content: "\e0d9";
}

.icon-sign-forsale:before {
  content: "\e0da";
}

.icon-single-bed:before {
  content: "\e0db";
}

.icon-sitemap:before {
  content: "\e0dc";
}

.icon-skirt:before {
  content: "\e0dd";
}

.icon-skyscraper:before {
  content: "\e0de";
}

.icon-smart-tv:before {
  content: "\e0df";
}

.icon-smartphone:before {
  content: "\e0e0";
}

.icon-snickers:before {
  content: "\e0e1";
}

.icon-socks-pants:before {
  content: "\e0e2";
}

.icon-sofa:before {
  content: "\e0e3";
}

.icon-soup:before {
  content: "\e0e4";
}

.icon-sport-shirt:before {
  content: "\e0e5";
}

.icon-stats-curves:before {
  content: "\e0e6";
}

.icon-stats-line-money:before {
  content: "\e0e7";
}

.icon-stats-pipe-money:before {
  content: "\e0e8";
}

.icon-stats-pipes:before {
  content: "\e0e9";
}

.icon-strategic-move:before {
  content: "\e0ea";
}

.icon-streetlight:before {
  content: "\e0eb";
}

.icon-sun:before {
  content: "\e0ec";
}

.icon-sun-freezing:before {
  content: "\e0ed";
}

.icon-sun-hazy:before {
  content: "\e0ee";
}

.icon-sun-melting:before {
  content: "\e0ef";
}

.icon-sun-moon:before {
  content: "\e0f0";
}

.icon-swiss-key:before {
  content: "\e0f1";
}

.icon-syringe:before {
  content: "\e0f2";
}

.icon-t-shirt-female:before {
  content: "\e0f3";
}

.icon-t-shirt-male:before {
  content: "\e0f4";
}

.icon-target-arrow:before {
  content: "\e0f5";
}

.icon-target-money:before {
  content: "\e0f6";
}

.icon-target-off:before {
  content: "\e0f7";
}

.icon-tea:before {
  content: "\e0f8";
}

.icon-team-men:before {
  content: "\e0f9";
}

.icon-team-women:before {
  content: "\e0fa";
}

.icon-team-work:before {
  content: "\e0fb";
}

.icon-telescope:before {
  content: "\e0fc";
}

.icon-television:before {
  content: "\e0fd";
}

.icon-temperature-cold:before {
  content: "\e0fe";
}

.icon-temperature-hot:before {
  content: "\e0ff";
}

.icon-tesla-energy:before {
  content: "\e100";
}

.icon-tesla-thunder:before {
  content: "\e101";
}

.icon-theatre-masks:before {
  content: "\e102";
}

.icon-thermometer:before {
  content: "\e103";
}

.icon-ticket:before {
  content: "\e104";
}

.icon-tip-up-truck:before {
  content: "\e105";
}

.icon-tomato:before {
  content: "\e106";
}

.icon-toolbox:before {
  content: "\e107";
}

.icon-tooth:before {
  content: "\e108";
}

.icon-townhall:before {
  content: "\e109";
}

.icon-tripod:before {
  content: "\e10a";
}

.icon-trousers:before {
  content: "\e10b";
}

.icon-truck:before {
  content: "\e10c";
}

.icon-tubes-1:before {
  content: "\e10d";
}

.icon-tubes-2:before {
  content: "\e10e";
}

.icon-tv-stand:before {
  content: "\e10f";
}

.icon-user-targeting:before {
  content: "\e110";
}

.icon-users:before {
  content: "\e111";
}

.icon-van-secure:before {
  content: "\e112";
}

.icon-video-conference:before {
  content: "\e113";
}

.icon-video-player:before {
  content: "\e114";
}

.icon-video-projector:before {
  content: "\e115";
}

.icon-visitors-search:before {
  content: "\e116";
}

.icon-wardrobe:before {
  content: "\e117";
}

.icon-washing-machine:before {
  content: "\e118";
}

.icon-water-boiler:before {
  content: "\e119";
}

.icon-water-pipe:before {
  content: "\e11a";
}

.icon-website-analytics:before {
  content: "\e11b";
}

.icon-website-fix:before {
  content: "\e11c";
}

.icon-website-secure:before {
  content: "\e11d";
}

.icon-website-speed:before {
  content: "\e11e";
}

.icon-weight:before {
  content: "\e11f";
}

.icon-wheelchair:before {
  content: "\e120";
}

.icon-whiskey:before {
  content: "\e121";
}

.icon-wind:before {
  content: "\e122";
}

.icon-window:before {
  content: "\e123";
}

.icon-windsock:before {
  content: "\e124";
}

.header {
  height: 80px;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header .logo {
  height: 33px;
  margin-top: 22px;
  display: block;
}

.header .header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .header-nav ul li {
  margin: 0 20px;
  padding: 0;
  float: left;
}

.header .header-nav ul li a {
  color: #bdbdbd;
  display: block;
  line-height: 80px;
  height: 80px;
  font-size: 16px;
  transition: 0.3s all ease-in-out;
}

.header .header-nav ul li a:hover {
  color: #37474f;
}

.header .header-nav ul li.dropdown ul li {
  margin: 0 0px;
}

.header .header-nav ul li.dropdown ul li a {
  width: 200px;
  height: 50px;
  line-height: 50px;
}

.header .header-nav ul li.dropdown ul li a:hover {
  background-color: transparent;
  color: #37474f;
}

.header .button-small {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #fff;
  font-weight: 500;
  background: #4caf50;
  height: 24px;
  display: inline-block;
  border-radius: 12px;
  margin-top: 26px;
  text-transform: uppercase;
  line-height: 24px;
  padding: 0 24px;
  transition: all 0.3s ease-in-out;
}

.header .button-small:hover {
  background: #388e3c;
}

.header .toggle-nav {
  height: 80px;
  line-height: 80px;
  display: inline-block;
  color: #2961ff;
}

.header .logo-dark {
  display: block;
}

.header .logo-white {
  display: none;
}

.header.header-no-bg {
  background: rgba(38,50,56,0.8);
}

.header.header-scroll-bg {
  background: rgba(38,50,56,0.95);
  transition: 0.4s all ease-in-out;
}

.header.header-no-bg .logo-dark {
  display: none;
}

.header.header-no-bg .logo-white {
  display: block;
}

.header.header-no-bg .toggle-nav {
  color: #fff;
}

.header.header-no-bg .header-nav ul li a {
  color: #e0e0e0;
}

.header.header-no-bg .header-nav ul li.dropdown ul li a {
  color: #bdbdbd;
}

.header.header-no-bg .header-nav ul li.dropdown ul li a:hover {
  color: #37474f;
}

.header.transparent {
  background: transparent;
}

.header.transparent .logo-dark {
  display: none;
}

.header.transparent .logo-white {
  display: block;
}

.header.transparent .toggle-nav {
  color: #fff;
}

.header.transparent .header-nav ul li a {
  color: #e0e0e0;
}

body p {
  margin-bottom: 10px;
}

.mobile-nav {
  background: #263238;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 90px 0 24px;
  z-index: 98;
  /*opacity: 0;*/
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav li {
  padding: 0;
  margin: 0;
}

.mobile-nav a {
  color: #fff;
  display: block;
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  transition: 0.3s all ease-in-out;
}

.mobile-nav a:hover {
  background: #2961ff;
  color: #fff;
}

.mobile-nav.open {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.toggle-nav span {
  display: block;
  height: 80px;
  line-height: 80px;
}

.toggle-nav .fa-close {
  display: none;
}

.toggle-nav .fa-bars {
  display: block;
}

.toggle-nav.open .fa-close {
  display: block;
}

.toggle-nav.open .fa-bars {
  display: none;
}

html, body {
  /*height: 100%;*/
  overflow-x: hidden;
}

body {
  background: #eee;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  background: url("/Design/Themes/Theme.Next/images/grid.png") repeat;
}

.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-no-pad {
  padding-left: 50px !important;
  padding-right: 0 !important;
}

body {
  background: #eee;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #546e7a;
}

p {
  font-size: 20px;
  line-height: 28px;
  color: #546e7a;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

h1 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  padding-bottom: 10px;
  margin-top: 72px;
  margin-bottom: 12px;
  color: #263238;
}

.hero h1 {
  font-size: 48px;
  line-height: 54px;
  margin-top: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  padding-bottom: 30px;
  margin-bottom: 32px;
  color: #fff;
}

h2 {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.01em;
  margin-top: 48px;
  margin-bottom: 14px;
  color: #263238;
}

h2.no-section-title {
  margin-top: 72px;
}

h3 {
  margin-top: 40px;
  color: #263238;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 18px;
}

.subhead {
  font-size: 16px;
  line-height: 28px;
}

.hero .subhead {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}

.button-large {
  position: relative;
  font-size: 14px;
  height: 48px;
  line-height: 42px;
  border: 3px solid #2961ff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .01em;
  display: inline-block;
  padding: 0 50px 0 24px;
  transition: 0.3s all ease-in-out;
}

.button-large:after {
  position: absolute;
  content: '';
  top: 12px;
  right: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 15.6px;
  border-color: transparent transparent transparent #2961ff;
  z-index: 97;
  transition: 0.3s all ease-in-out;
}

.button-large:hover {
  background: #2961ff;
}

.button-large:hover:after {
  border-color: transparent transparent transparent #fff;
}

.hero .button-large {
  color: #fff;
  margin-top: 6px;
}

.cta .button-large {
  color: #fff;
  margin-top: 38px;
}

.button-large.button-content {
  color: #546e7a;
  border: 3px solid #78909c;
}

.button-large.button-content:after {
  border-color: transparent transparent transparent #78909c;
}

.button-large.button-content:hover:after {
  border-color: transparent transparent transparent #fff;
}

.button-large.button-content:hover {
  border: 3px solid #2961ff;
  color: #fff;
}

.button-large.button-after-title {
  margin: 88px 0 24px;
}

.cta-subscribe .button-large {
  height: 56px;
  line-height: 50px;
  border: 3px solid #2961ff;
  color: #fff;
  background: transparent;
  margin-top: 0;
}

.cta-subscribe .button-large:hover {
  background: #2961ff;
}

.cta-subscribe .button-large:after {
  border-color: transparent transparent transparent #fff;
  top: 16px;
}

.contact-us .button-large {
  background: transparent;
  color: #2961ff;
  display: inline-block;
}

.contact-us .button-large:hover {
  background: #2961ff;
  color: #fff;
}

.main .main-header {
  width: 100%;
  background: #2961ff;
  color: #fff;
  margin-top: 80px;
}

.main .main-header h1, .main .main-header p {
  color: #fff;
}

.main .subhead {
  margin-bottom: 56px;
}

.section-title {
  margin-top: 52px;
  color: #90a4ae;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: block;
  border-bottom: 1px solid #cfd8dc;
}

.hero {
  width: 100%;
  color: #fff;
  padding: 170px 0 212px;
}

.hero.hero-home {
  background: url("/Design/Themes/Theme.Next/images/home-hero-bg.png") center center no-repeat;
  background-size: cover;
}

.infographic {
  margin: 36px 0 0;
}

.infographic .infographic-icon {
  color: #2961ff;
  font-size: 64px;
  line-height: 64px;
  float: left;
  margin-right: 16px;
}

.infographic .infographic-text {
  float: left;
}

.infographic .infographic-text .number {
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #263238;
  display: block;
}

article {
  padding-bottom: 64px;
}

.padding-32 {
  padding-bottom: 32px;
}

.padding-0 {
  padding: 0;
}

.cta {
  width: 100%;
  color: #fff;
  background: url("/Design/Themes/Theme.Next/images/cta-bg-1.png") center center no-repeat;
  background-size: cover;
  padding: 168px 0;
  position: relative;
  overflow: hidden;
}

.cta span {
  font-size: 45px;
  line-height: 60px;
}

@media (max-width: 480px) {
  .cta {
    padding: 68px 0;
  }
  .cta span {
    font-size: 35px;
    line-height: 45px;
  }
}

.cta-mtn {
  background: url("/Design/Themes/Theme.Next/images/cta-bg-2.png") center center no-repeat;
  background-size: cover;
}

.cta-road {
  background: url("/Design/Themes/Theme.Next/images/cta-bg-4.png") center center no-repeat;
  background-size: cover;
}

.cta:before {
  content: '';
  position: absolute;
  right: 9%;
  background: url("/Design/Themes/Theme.Next/images/anant-cta-logo.png") top left no-repeat;
  height: 503px;
  width: 473px;
  top: -9%;
}

.cta.cta-subscribe {
  background: url("/Design/Themes/Theme.Next/images/cta-bg-2.png") center center no-repeat;
  background-size: cover;
}

.two-col-feature .container > .feature {
  margin-top: 62px;
}

.two-col-feature .container > .feature ~ .feature {
  margin-top: 48px;
}

.white-bkgd {
  background: #fff;
  position: relative;
  z-index: 0;
}

.worked-with {
  padding-bottom: 56px;
}

.worked-with img {
  margin: 20px 0px;
}

.worked-with .worked-with-logos {
  margin: 32px 0 0px;
}

.footer {
  font-size: 16px;
}

.footer .footer-logo {
  padding-top: 44px;
}

.footer p, .footer a {
  font-size: 16px;
  color: #cfd8dc;
}

.footer p, .footer a {
  margin-bottom: 10px;
}

.footer h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #90a4ae;
  margin-top: 32px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin: 0;
  padding: 0;
}

.footer .footer-upper {
  background: #263238;
  padding: 42px 0 72px;
}

.footer .footer-lower {
  background: #1f292e;
  padding: 28px 0;
}

.footer .footer-lower p {
  line-height: 24px;
  margin: 0;
}

.team-members {
  margin-top: 0px;
}

.team-members h3 {
  font-size: 20px;
  line-height: 28px;
  margin: 28px 0 0;
}

.team-members .job-title {
  font-size: 14px;
  line-height: 24px;
  color: #90a4ae;
  margin: 0 0 22px;
  display: block;
}

.team-members p {
  font-size: 16px;
  line-height: 24px;
}

.team-members .member-img {
  width: 216px;
  height: 248px;
  background: #263238;
  color: #fff;
  margin-top: 54px;
  position: relative;
}

.team-members .member-img img {
  transition: 0.3s all ease-in-out;
}

.team-members .member-img .member-social {
  width: 216px;
  text-align: center;
  position: absolute;
  top: 88px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.team-members .member-img .member-social p {
  font-size: 24px;
  line-height: 80px;
}

.team-members .member-img .member-social a {
  color: #fff;
  margin: 0px 4px;
}

.team-members .member-img:hover img {
  opacity: .8;
}

.team-members .member-img:hover .member-social {
  visibility: visible;
  opacity: 1;
}

input.form-control {
  height: 56px;
  border: 3px solid #b0bec5;
  text-shadow: none;
  outline: 0;
  background: transparent;
  border-radius: 0;
  font-size: 20px;
  line-height: 56px;
  padding: 0px 24px;
  color: #fff;
}

textarea.form-control {
  height: 176px;
  border: 3px solid #b0bec5;
  text-shadow: none;
  outline: 0;
  background: transparent;
  font-size: 20px;
  line-height: 56px;
  padding: 0px 24px;
  border-radius: 0;
}

.cta-subscribe form {
  margin-top: 24px;
}

.cta-subscribe form input.form-control {
  margin-bottom: 20px;
}

.cta-subscribe .form-control::-webkit-input-placeholder {
  color: white;
}

.cta-subscribe .form-control:-moz-placeholder {
  color: white;
}

.cta-subscribe .form-control::-moz-placeholder {
  color: white;
}

.cta-subscribe .form-control:-ms-input-placeholder {
  color: white;
}

.contact-us {
  background: #fff;
}

.contact-us input.form-control {
  color: #263238;
}

.contact-us .form-group {
  margin-bottom: 24px;
}

.contact-us form {
  margin-top: 26px;
}

.contact-us .the-form {
  background: #fff;
  z-index: 96;
}

.contact-us .form-control::-webkit-input-placeholder {
  color: #546e7a;
}

.contact-us .form-control:-moz-placeholder {
  color: #546e7a;
}

.contact-us .form-control::-moz-placeholder {
  color: #546e7a;
}

.contact-us .form-control:-ms-input-placeholder {
  color: #546e7a;
}

#mapGeorgetown, #mapNYC {
  width: 100%;
  height: 360px;
  position: relative;
}

.map-overlay {
  width: 100%;
  height: 360px;
  background: rgba(38, 50, 56, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 116px 0;
}

.map-overlay p {
  color: #cfd8dc;
}

.map-overlay p span {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
}

.blog-header {
  width: 100%;
  padding: 210px 0 120px;
  background: url("/Design/Themes/Theme.Next/images/post-bg.png") center center no-repeat;
  background-size: cover;
}

.blog-header h1 {
  color: #fff;
  font-size: 56px;
  line-height: 64px;
  margin-top: 60px;
  padding-bottom: 24px;
  margin-bottom: 26px;
}

.blog-header .author, .blog-header .date {
  color: #fff;
}

.blog-header .category {
  color: #eceff1;
}

.avatar {
  margin-right: 16px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
}

.category {
  font-size: 14px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.author, .date {
  font-size: 16px;
  line-height: 56px;
  display: inline-block;
  height: 56px;
}
.date {
  float: right;
}

.blog-item-bg {
  height: 240px;
  background: url("/Design/Themes/Theme.Next/images/blog-item-bg.png") center top no-repeat;
  background-size: cover;
  color: #fff;
  padding: 24px;
  margin-top: 32px;
}

.blog-item-bg h3 {
  color: #fff;
  margin-top: 30px;
}

.blog-item-meta {
  background: #cfd8dc;
  padding: 16px 24px;
}

.work-item {
  height: 272px;
  width: 100%;
  margin-top: 32px;
  padding: 24px;
  color: #fff;
}

.work-item h3 {
  color: #fff;
}

.uspto {
  background: url("/Design/Themes/Theme.Next/images/work-bkgds/work-bkgd-uspto.png") center top no-repeat;
  background-size: cover;
}

.nova {
  background: url("/Design/Themes/Theme.Next/images/work-bkgds/work-bkgd-nova.png") center top no-repeat;
  background-size: cover;
}

.bsr {
  background: url("/Design/Themes/Theme.Next/images/work-bkgds/work-bkgd-bsr.png") center top no-repeat;
  background-size: cover;
}

.teachstone {
  background: url("/Design/Themes/Theme.Next/images/work-bkgds/work-bkgd-ts.png") center top no-repeat;
  background-size: cover;
}

.ahri {
  background: url("/Design/Themes/Theme.Next/images/work-bkgds/work-bkgd-ahri.png") center top no-repeat;
  background-size: cover;
}

.atr {
  background: url("/Design/Themes/Theme.Next/images/work-bkgds/work-bkgd-atr.png") center top no-repeat;
  background-size: cover;
}

.otw {
  background: url("/Design/Themes/Theme.Next/images/work-bkgds/work-bkgd-otw.png") center top no-repeat;
  background-size: cover;
}

.startuphoyas {
  background: url("/Design/Themes/Theme.Next/images/work-bkgds/work-bkgd-sh.png") center top no-repeat;
  background-size: cover;
}

.product-card {
  margin-top: 32px;
  padding: 56px 24px 32px;
  height: 368px;
  width: 100%;
  border-bottom: 8px solid #2961ff;
  transition: 0.4s all ease-in-out;
  position: relative;
}

.product-card i {
  color: #2961ff;
  font-size: 64px;
  line-height: 64px;
}

.product-card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 368px;
  background: url("/Design/Themes/Theme.Next/images/post-bg.png") center center no-repeat;
  background-size: cover;
  transition: 0.4s all ease-in-out;
  z-index: -1;
  opacity: 0;
}

.product-card:hover {
  border-bottom: 32px solid #2961ff;
  color: #fff;
}

.product-card:hover h3, .product-card:hover i, .product-card:hover p {
  color: #fff;
}

.product-card:after {
  position: absolute;
  content: '';
  bottom: -24px;
  right: 56px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 15.6px;
  border-color: transparent transparent transparent white;
  z-index: 97;
  transition-delay: 0.2s;
  transition: 0.3s all ease-in-out;
  opacity: 0;
  top: 344px;
}

.product-card:hover:before, .product-card:hover:after {
  opacity: 1;
}

.product-card:hover:after {
  right: 16px;
}

/* Process Section */

.tiles {
  margin-top: 32px;
}

.process-tile {
  padding: 10px 50px 40px;
  height: 250px;
  position: relative;
}

.process-tile i {
  color: #fff;
  font-size: 64px;
  line-height: 64px;
  position: absolute;
  margin-top: -32px;
  margin-left: -32px;
  top: 50%;
  left: 50%;;
}

.process-tile.z1 {
  z-index: 1;
}

.process-tile .triangle {
  overflow: visible;
}

.process-tile .triangle.right {
  background: url("/Design/Themes/Theme.Next/icon/triangleRight.png") center top no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  margin-top: -10px;
  margin-right: -12px;
  height: 21px;
  width: 12px;
}

.process-tile .triangle.up {
  background: url("/Design/Themes/Theme.Next/icon/triangleUp.png") center top no-repeat;
  position: absolute;
  top: 0;
  right: 50%;
  left: auto;
  margin-top: -12px;
  margin-right: -10px;
  height: 12px;
  width: 21px;
}

.process-tile .triangle.down {
  background: url("/Design/Themes/Theme.Next/icon/triangleDown.png") center top no-repeat;
  position: absolute;
  top: 100%;
  right: 50%;
  left: auto;
  margin-top: 0px;
  margin-right: -10px;
  height: 12px;
  width: 21px;
}

.process-tile .triangle.left {
  background: url("/Design/Themes/Theme.Next/icon/triangleLeft.png") center top no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  right: auto;
  margin-top: -10px;
  margin-left: -12px;
  height: 21px;
  width: 12px;
}

.process-tile-1 {
  background: url("/Design/Themes/Theme.Next/images/work-2.png") center top no-repeat;
}

.process-tile-3 {
  background: url("/Design/Themes/Theme.Next/images/work-2.png") center top no-repeat;
}

.process-tile-5 {
  background: url("/Design/Themes/Theme.Next/images/work-2.png") center top no-repeat;
}

.process-tile-7 {
  background: url("/Design/Themes/Theme.Next/images/work-2.png") center top no-repeat;
}

.process-tile-9 {
  background: url("/Design/Themes/Theme.Next/images/work-2.png") center top no-repeat;
}

@media (max-width: 480px) {
  .process-tile .triangle.right {
    background: url("/Design/Themes/Theme.Next/icon/triangleUp.png") center top no-repeat;
    position: absolute;
    top: 0;
    right: 50%;
    left: auto;
    margin-top: -12px;
    margin-right: -10px;
    height: 12px;
    width: 21px;
  }

  .process-tile .triangle.left {
    background: url("/Design/Themes/Theme.Next/icon/triangleDown.png") center top no-repeat;
    position: absolute;
    top: 100%;
    right: 50%;
    left: auto;
    margin-top: 0px;
    margin-right: -10px;
    height: 12px;
    width: 21px;
  }
}



.post h2 {
  margin-top: 80px;
  margin-bottom: 42px;
}

.post p {
  margin-bottom: 28px;
}

.feature-page-header {
  width: 100%;
  padding: 208px 0 90px;
  background: url("/Design/Themes/Theme.Next/images/post-bg.png") center center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.feature-page-header .icon-overlay {
  position: absolute;
  top: -80px;
  right: -160px;
  font-size: 800px;
  opacity: .25;
  color: #fff;
}

.feature-page-header .icon-circle {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  display: block;
  background: #2961ff;
  text-align: center;
  padding-top: 20px;
}

.feature-page-header .icon-circle i {
  font-size: 56px;
  line-height: 64px;
  color: #fff;
}

.feature-page-header h1 {
  margin-top: 44px;
  color: #fff;
  font-size: 56px;
  line-height: 64px;
  padding-bottom: 28px;
  margin-bottom: 34px;
}

.feature-page-header .subhead {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}

.expertise {

}

.expertise ul {
  margin-top: 16px;
}

.expertise ul li {
  color: #2961ff;
}

.expertise ul li p {
  color: #263238;
}

.expertise .expertise-logos img {
  margin-top: 48px;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer .footer-logo {
    margin: 0 auto;
  }
  .expertise .expertise-logos img {
    margin: 24px 0 0;
  }
}

@media (max-width: 992px) {
  .button-large.button-after-title {
    margin: 32px 0 24px;
  }
  .hero {
    padding: 58px 0 96px;
  }
  .hero .button-large {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .pad-maps {
    padding-left: 30px;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .team-members .col-md-3 p {
    max-width: 216px;
  }
}
