<appSettings>
  <!-- 
  CookieExpire: cookie expire in minutes 
  ForceExpire: (Default[if setting null] = true)
    If true, cookie will not renew itself, and force login 
      every CookieExpire minutes
    if you are allowing persistant cookies you definately want to leave false
  -->
  <add key="ForceExpire" value="false" />
  <add key="CookieExpire" value="60" />
  
  <!-- Appleseed Support Functionality - Error Handler V0.8 -->
  <!-- 
    Select which ways you wish errors to be logged.
    
    Many thanks to Joan M who provided the original code. 
    This Error System was Modified and Extended by John Mandia.
    
    For Event Log, You need special permissions to create an Event Log Source. 
    If you have not created an Event Log Source yourself or the account this app uses doesn't
    have special rights, I recommmend keeping SuppportEventLogSource as "Application" since
    it already exists on Servers and shouldn't cause any problems.
      
    LogToEventLog  - This logs errors as Application on the server. Set to either true or false.
        LogToFile      - This logs errors to a text file. Set to either true or false.
        LogToEmail     - This logs errors to email and sends them to the "SupportEmailAddress" address.
    
    This functionality could be extended to include other logging techniques. 
    Log to:
    
    LogToXml          - Would log to an Xml File
    LogToDB           - Would log to a Database
    LogToWebService   - Would log to a WebService e.g. If you're an agency and you want to be able to keep track of your deployed sites this could be an option 
     
    AlternateLogLocation:
    
    Only change it to something if you wish to specify a different default location e.g C:\MyAppleseedErrors\ 
    The "LogToFile" with the errors will be placed here. This also specifies where other logs will be located  e.g LogToXml.
    Either in the default /rb_logs/ Folder or one of your choosing. 
    
    Please ensure you have added write permissions to this location otherwise it will not create the error logs.   
    -->
  <add key="AlternateLogLocation" value="" />
  <!-- If this is set to "Full" it will enter User Details also. If set to short it will exclude user specific information -->
  <add key="LogMessageMode" value="Full" />
  <!-- 
    LogFileFormat
    
    This setting can be used by all Error Loggers also. It lets you specify whether you want your errors logged by day,month or year.
    It has three settings:
    
    Daily           -  Errors are grouped by day. E.g of the File Logger: error_log_2003-4-9.txt 
    Monthly         -  Errors are grouped by month. E.g of the File Logger: error_log_2003-4.txt
    Yearly          -  Errors are grouped by year. E.g of the File Loggers: error_log_2003.txt
    
    If this setting is left blank or does not match any of the above keys, then the filename will default to error_log.txt
    -->
  <add key="LogFileFormat" value="Daily" />
  <!-- LogToFile Settings -->
  <add key="LogToFile" value="true" />
  <!-- 
    This feature is to let you specify which http errors get logged to file (Non HttpException errors get logged automatically).
    Specify: "All" or a specific error e.g "404" or a list of errors you want logged e.g. "404 403"
     -->
  <add key="LogToFileErrorList" value="All" />
  <!-- End of LogToFile Settings -->
  <!-- LogToEventLog Settings -->
  <add key="LogToEventLog" value="false" />
  <!-- 
    This feature is to let you specify which http errors get logged to the Event Log (Non HttpException errors get logged automatically).
    Specify: "All" or a specific error e.g "404" or a list of errors you want logged e.g. "404 403"
     -->
  <add key="LogToEventLogErrorList" value="403 500" />
  <add key="SupportEventLogSource" value="Application" />
  <!-- End of LogToEventLog Settings -->
  <!-- LogToEmail Settings -->
  <add key="LogToEmail" value="false" />
  <!-- 
    This feature is to let you specify which http errors get logged to Email (Non HttpException errors get logged automatically).
    Specify: "All" or a specific error e.g "404" or a list of errors you want logged e.g. "404 403"
     -->
  <add key="LogToEmailErrorList" value="403 500" />
  <add key="SupportFromEmailAddress" value="portaladmin@localhost.com" />
  <add key="SupportToEmailAddress" value="portaladmin@localhost.com" />
  <!-- End of LogToEmail Settings -->
  <!-- End Of Appleseed Support Functionality -->
  <!-- Appleseed HttpUrlHandler Functionality -->
  <!--
    Added UseAlias for HttpUrlBuilder
    Christoph Schramm, schramm@common-digital.de, 01/06/2005
  -->
  <!-- 
    HttpURLHandler specific settings 
    Many thanks to John Mandia, Jes, Manu and Cory for their suggstions and part of this code.
  -->
  <!-- The page name used by where we will directed (Note this can also be used by Url Builder to give a default page name) -->
  <add key="HandlerTargetUrl" value="DesktopDefault.aspx" />
  <!-- End of Appleseed HttpUrlHandler Functionality -->
  <!-- To be deleted once non url builder dependancies have been taken care of -->
  <add key="UseAlias" value="false" />
  <!-- Appleseed Collapsible Functionality -->
  <!-- 
    WindowMgmtControls - If true will allow user to exand and collapse modules. They can also save their settings.
    WindowMgmtWantClose - If true will allow user to close a module at which point it vanishes from the tab. 
    Handle with care.
    
    Code contributed by Bill Anderson
    -->
  <add key="WindowMgmtControls" value="true" />
  <add key="WindowMgmtWantClose" value="false" />
  <!-- Check To See If ASPNET Account Has Permission To Create Portal Folders In Root Directory -->
  <add key="CheckForFilePermission" value="false" />
  <!-- Zen settings -->
  <!-- 
    IE7 script and location: specify the IE7 script to use, including its location.
    Multiple scripts can be specified as a semi-colon delimited list.
    In general you should not change this (except perhaps to change the location of 
    the scripts. As the IE7 product evolves, it may be necessary to revise script name(s).
    Such changes will be notified via release notes in future Appleseed versions.
    ie7-standard.js
    <add key="Ie7Script" value="/aspnet_client/ie7/0.8.0/ie7-standard-p.js" />
    
     < !- - [if lt IE 7]><![endif]- - >
  -->
  <add key="Ie7Script" value="/aspnet_client/ie7/0_9/ie7-standard-p.js" />
    
  <!--
  <add key="Ie7Script" value="/aspnet_client/x/x_core.js;/aspnet_client/x/x_event.js;/aspnet_client/x/x_dom.js;/aspnet_client/Appleseed_scripts/xmenu4.js;/aspnet_client/Appleseed_scripts/MainMenu_Horizontal.js" />
  -->
  <!--
    Zen relies heavily on browsers being forced into "Standards Compliance mode" in order
    to ensure consistent, predictable behaviour and the same results on all browser types.
    You can set the DOCTYPE string in Site Settings... but if it is left blank (the default)
    then Zen pages will exhibit problems. If the Site Setting is left blank then the setting 
    below will be used as the default for any pages with a Zen Theme. 
    See http://gutfeldt.ch/matthias/articles/doctypeswitch/table.html (and many other
    reference sites) for details of which DOCTYPE switches do what.
    -->
  <add key="DefaultDOCTYPE" value="&lt;!DOCTYPE HTML PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd' &gt;" />
  
  <!-- end Zen settings -->
  <!-- Appleseed Cache Settings -->
  <!-- 
        Portal setting caching in seconds, use 0 or remove to disable cache.
        Admin changes (eg: Theme, new tab, permissions) can be delayed 
        up to the seconds amount set in this cache.
        This is clear if you try to add a new tab or a new module.
        The tab is there but you will see in x seconds.
        ADVICE: Use cache on production sites, remove it when developing
    -->
  <add key="PortalSettingCaching" value="0" />
  <!--
        This value overrides the cache value of every module tha has cache equal to 0.
        (Every 0 value will be replaced with this value)
        Admin modules will never cached. 
        To avoid caching on a single module please set it to a negative value like -1.
        BE AWARE tha every update to a module content wil be delayed for a number of
        seconds specified here.
        If you set this to 30 and add a document you will see it in 30 seconds.
        If you set this to 60 and cache an HTML doc you will see it after one minute.
        ADVICE: Use cache on production sites, remove it when developing
        -->
  <add key="ModuleOverrideCache" value="0" />
  <!-- End of Appleseed Cache Settings -->
</appSettings>