/.project
[Bb]in
[Oo]bj
[Tt]humbs.db
*.bak
*.[Cc]ache
*.metaproj
*.metaproj.*
*.user
*.log
*.dat
*.DotSettings
*.tmp
/Master/Appleseed/builds
/Master/Appleseed/.vs
/Master/Appleseed/Libs/PortableAreas
/Master/Appleseed/WebSites/Appleseed/rb_logs
