<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		
    </configSections>
	<appSettings>
		<!-- Not Yet Implemented-->
		<add key="EnableLogging" value="3"/>
	</appSettings>
    <connectionStrings>
        <add name="Content.API.Properties.Settings.rbalpha31cleanConnectionString"
            connectionString="Data Source=JONATHANASUS;Initial Catalog=rbalpha31clean;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>