@model FileManager.Models.Files

@using MvcContrib
<div class="FolderIcon" >
    <img src="@Url.Resource("Content.Folder.jpg")" alt="" />
    <div class="name">@Model.name</div>
    @Html.Hidden("ParentFolder",Model.folder)
</div>


