<?xml version="1.0"?>
<doc>
    <assembly>
        <name>DUEMETRI.UI.WebControls.HWMenu</name>
    </assembly>
    <members>
        <member name="T:DUEMETRI.UI.WebControls.HWMenu.Design.MenuDesigner">
            <summary>
            Summary description for MenuDesigner.
            </summary>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.Design.MenuDesigner.GetDesignTimeHtml">
            <summary>
            GetDesignTimeHtml
            </summary>
            <returns></returns>
        </member>
        <member name="T:DUEMETRI.UI.WebControls.HWMenu.Menu">
            <summary>
            HWMenu WebControl.
            </summary>
            	[History("mario@hartmann.net", "2003/06/14", "use of named CSS styles added")]
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.BorderBtwnElmnts">
            <summary>
            Border between elements
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.MenuTextCentered">
            <summary>
            Item text position 'left', 'center' or 'right'
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.MenuCentered">
            <summary>
            Menu horizontal position 'left', 'center' or 'right'
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.MenuVerticalCentered">
            <summary>
            Menu vertical position 'top', 'middle','bottom' or 'static'
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.ChildOverlap">
            <summary>
            horizontal overlap child/ parent
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.ChildVerticalOverlap">
            <summary>
            vertical overlap child/ parent
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.StartTop">
            <summary>
            Menu offset x coordinate
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.StartLeft">
            <summary>
            Menu offset y coordinate
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.VerCorrect">
            <summary>
            Multiple frames y correction
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.HorCorrect">
            <summary>
            Multiple frames x correction
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.LeftPaddng">
            <summary>
            Left padding
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.TopPaddng">
            <summary>
            Top padding
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.MenuFramesVertical">
            <summary>
            Frames in cols or rows 1 or 0
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.DissapearDelay">
            <summary>
            delay before menu folds in (milliseconds)
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.TakeOverBgColor">
            <summary>
            Menu frame takes over background color subitem frame
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.FirstLineFrame">
            <summary>
            Frame where first level appears
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.SecLineFrame">
            <summary>
            Frame where sub levels appear
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.DocTargetFrame">
            <summary>
            Frame where target documents appear
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.TargetLoc">
            <summary>
            span id for relative positioning
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.HideTop">
            <summary>
            Hide first level when loading new document 1 or 0
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.MenuWrap">
            <summary>
            enables/ disables menu wrap 1 or 0
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.RightToLeft">
            <summary>
            enables/ disables right to left unfold 1 or 0
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.UnfoldsOnClick">
            <summary>
            Level 1 unfolds onclick/ onmouseover
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.WebMasterCheck">
            <summary>
            menu tree checking on or off 1 or 0
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.ShowArrow">
            <summary>
            Uses arrow gifs when 1
            </summary>
        </member>
        <member name="F:DUEMETRI.UI.WebControls.HWMenu.Menu.KeepHilite">
            <summary>
            Keep selected path highligthed
            </summary>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.Menu.#ctor">
            <summary>
            Public constructor
            </summary>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.Menu.ToMenuArray(System.String)">
            <summary>
            Retrieves a string representing the current menu array
            </summary>
            <param name="prefix"></param>
            <returns>The current menu array</returns>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.Menu.Render(System.Web.UI.HtmlTextWriter)">
            <summary>
            Render the control
            </summary>
            <param name="output"></param>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.Menu.CreateChildControls">
            <summary>
            CreateChildControl
            </summary>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.Menu.GetClientScriptPath">
            <summary>
            GetClientScriptPath() method -- works out the
            location of the shared scripts and images.
            </summary>
            <returns></returns>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.Menu.LoadViewState(System.Object)">
            <summary>
            Restores the view-state information from a previous 
            user control request that was saved by the 
            <seealso cref="M:SaveViewState"/> method.
            </summary>
            <param name="savedState"></param>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.Menu.SaveViewState">
            <summary>
            Saves any user control view-state changes that have 
            occurred since the last page postback.
            </summary>
            <returns></returns>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.Menu.TrackViewState">
            <summary>
            Causes tracking of view-state changes to the server control 
            so they can be stored in the server control's StateBag object.
            This object is accessible through the <seealso cref="P:Control.ViewState"/> property.
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.ControlItemStyle">
            <summary>
            Style of this element when the mouse is not over the element.
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.ControlHiStyle">
            <summary>
            Style of this element when the mouse is over the element.
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.ControlSubStyle">
            <summary>
            Style of tSubs element when the mouse is not over the element.
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.ControlHiSubStyle">
            <summary>
            Style of the Subs element when the mouse is over the element.
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.Horizontal">
            <summary>
            Horizontal or vertical menu
            </summary>
            
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.ArrowImage">
            <summary>
            Arrow image
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.ArrowImageDown">
            <summary>
            Arrow image down
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.ArrowImageLeft">
            <summary>
            Arrow image left
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.Childs">
            <summary>
            Menu items collection.
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.ClientScriptPath">
            <summary>
            Client script path.
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.Menu.ImagesPath">
            <summary>
            Client images path.
            </summary>
        </member>
        <member name="T:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode">
            <summary>
            Summary description for MenuTreeNode.
            </summary>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.LoadViewState(System.Object)">
            <summary>
            Restores the view-state information from a previous 
            user control request that was saved by the 
            <seealso cref="M:SaveViewState"/> method.
            </summary>
            <param name="savedState"></param>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.SaveViewState">
            <summary>
            Saves any user control view-state changes that have 
            occurred since the last page postback.
            </summary>
            <returns></returns>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.TrackViewState">
            <summary>
            Causes tracking of view-state changes to the server control 
            so they can be stored in the server control's StateBag object.
            This object is accessible through the <seealso cref="P:Control.ViewState"/> property.
            </summary>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.#ctor(System.String)">
            <summary>
            Public constructor. Initializes text property.
            </summary>
            <param name="text"></param>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.#ctor">
            <summary>
            Public constructor.
            </summary>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.ToMenuArray">
            <summary>
            Retrieves a string representing the current menu array
            </summary>
            <returns>The current menu array</returns>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.ControlHiStyle">
            <summary>
            Style of this element when the mouse is over the element.
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.Text">
            <summary>
            What you want to show in the element. It can be text, an image or html.
            To show an image Text will be look like "&lt;img src='MyImage'&gt;"
            To use roll over images use "rollover:MyImage1:MyImage2"
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.Link">
            <summary>
            Text string- Where you want to go when you click the element.
            Looks like "MyLink" 
            Can also be used to execute javascript statements. 
            For instance when you want the link to open in the top window use 
            "javascript:top.document.location.href='Link.htm';"
            You can in fact start a whole script when the element is clicked 
            with the help of javascript:. "javascript:{your script; another function;}"
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.BackgroundImage">
            <summary>
            Background image for the element. 
            Is not supported for NS4 when the menu is across frames. 
            I had to disable this for NS4 in frame setup because 
            I could not get it to work properly. 
            (Everybody who wants to try and find a solution for this is very welcome. 
            Enable in menu_com.js)
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode.Childs">
            <summary>
            Menu items collection.
            </summary>
        </member>
        <member name="T:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNodes">
            <summary>
            MenuTreeNode collection.
            </summary>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNodes.Add(DUEMETRI.UI.WebControls.HWMenu.MenuTreeNode)">
            <summary>
            Adds a MenuTreeNode item to the collection
            </summary>
            <param name="mn"></param>
            <returns></returns>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNodes.Add(System.Object)">
            <summary>
            Adds an object to the collection (must be of type MenuTreeNode)
            </summary>
            <param name="o"></param>
            <returns></returns>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNodes.ToMenuArray(System.String)">
            <summary>
            Retrieves a string representing the current menu array
            </summary>
            <param name="prefix"></param>
            <returns>The current menu array</returns>
        </member>
        <member name="M:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNodes.ToMenuArray(System.String,DUEMETRI.UI.WebControls.HWMenu.MenuTreeNodes)">
            <summary>
            Retrieves a string representing the current menu array
            </summary>
            <param name="prefix"></param>
            <param name="mn"></param>
            <returns>The current menu array</returns>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNodes.Item(System.Int32)">
            <summary>
            Indexer
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNodes.Width">
            <summary>
            Node Width
            </summary>
        </member>
        <member name="P:DUEMETRI.UI.WebControls.HWMenu.MenuTreeNodes.Height">
            <summary>
            Node Height
            </summary>
        </member>
    </members>
</doc>
