<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Appleseed.PortalTemplate.Properties.Settings.AppleseedConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Appleseed;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="Appleseed.PortalTemplate.Properties.Settings.AppleseedConnectionString1" connectionString="Data Source=web\sqlexpress;Initial Catalog=Appleseed;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="Appleseed.PortalTemplate.Properties.Settings.Appleseed2ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Appleseed;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
