<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

    <!--  COMPILAZIONE CON DEBUG DINAMICO
          Impostare compilation debug="true" per attivare il debug ASPX. In caso contrario, impostando tale valore su
          false si otterrà un incremento delle prestazioni di runtime dell'applicazione. 
          Impostare compilation debug="true" per inserire i simboli di debug (informazioni .pdb)
          nella pagina compilata. Poiché questo comporta la creazione di un file più grande e più lento da eseguire,
          si consiglia di impostare il valore true solo durante il debug e di usare
          false in tutti gli altri casi. Per ulteriori informazioni, vedere la documentazione relativa
          al debug dei file ASP .NET.
    -->
    <compilation 
         defaultLanguage="c#"
         debug="true"
    />

    <!--  MESSAGGI DI ERRORE PERSONALIZZATI
          Impostare i valori di customError per controllare la visualizzazione di messaggi di errore 
          descrittivi invece che dettagliati (inclusa un'analisi dello stack):

          "On" Visualizza sempre messaggi descrittivi personalizzati  
          "Off" Visualizza sempre informazioni dettagliate sugli errori ASP.NET.
          "RemoteOnly" Visualizza messaggi descrittivi personalizzati solo a utenti non in esecuzione 
          sul server Web locale. Questa impostazione è consigliata per motivi di sicurezza, 
          per non mostrare informazioni dettagliate sull'applicazione ai client remoti.
    -->
    <customErrors 
    mode="RemoteOnly" 
    /> 

    <!--  AUTENTICAZIONE 
          Questa sezione imposta i criteri di autenticazione dell'applicazione. Le modalità supportate sono "Windows", "Forms", 
          "Passport" e "None"
    -->
    <authentication mode="Windows" /> 

    <!--  REGISTRAZIONE ANALISI A LIVELLO DI APPLICAZIONE
          L'analisi a livello di applicazione permette di registrare l'output dell'analisi per ogni singola pagina dell'applicazione. 
          Per abilitare la registrazione dell'analisi a livello di applicazione, impostare trace enabled="true". Se pageOutput="true",
          le informazioni fornite dell'analisi verranno visualizzate in fondo a ogni pagina. In caso contrario, per vedere
          la registrazione dell'analisi sarà necessario aprire nel browser la pagina "trace.axd",
          che si trova nella radice dell'applicazione Web. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <!--  IMPOSTAZIONI RELATIVE ALLO STATO DI SESSIONE
          In base all'impostazione predefinita, ASP .NET utilizza i cookie per identificare la sessione a cui appartengono le richieste. 
          Se i cookie non sono disponibili, è possibile aggiungere un identificatore di sessione all'URL. 
          Per disattivare i cookie, impostare sessionState cookieless="true".
    -->
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;user id=sa;password="
            cookieless="false" 
            timeout="20" 
    />

    <!--  GLOBALIZZAZIONE
          Questa sezione specifica le impostazioni di globalizzazione dell'applicazione. 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
 </system.web>

</configuration>
