<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="AppleseedDBContext" connectionString="metadata=res://*/Models.AppleseedModel.csdl|res://*/Models.AppleseedModel.ssdl|res://*/Models.AppleseedModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=AppleseedGoogle;Persist Security Info=True;User ID=foo;Password=foo;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>