/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; padding:0; margin:0} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; position:relative; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
.flex-caption{width:80%; position: absolute; right:0; top:32%; text-align:right}
.flex-caption h1{font-size:90px; line-height:90px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:bold; text-transform:uppercase; margin-bottom:0}
.flex-caption .slidetext1{font-size:22px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:bold; display:block; margin-bottom:13px}
.flex-caption .slidetext2{text-transform:uppercase; margin-bottom:13px}


/* Direction Nav */
.flex-direction-nav { height:0;}
.flex-direction-nav li a {width: 31px; height: 31px; display: block; position: absolute; top:42%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav li .next {background:transparent; right:0}
.flex-direction-nav li .next:hover{opacity:0.7}
.flex-direction-nav li .prev {background:transparent; left:0}
.flex-direction-nav li .prev:hover{opacity:0.7}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { position: absolute; bottom:78px; right:0}
.flex-control-nav li {margin: 0 0 0 7px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav a {width: 14px; height: 14px; display: block; background:#f2f2f2; border:solid 1px #dddddd; cursor: pointer; text-indent: -999em;}
.flex-control-nav li a:hover { background:#fff}
.flex-control-nav li a.active {background:#fff}
