body {text-align:center;}table {font-family:Verdana, Arial, Helvetica, sans-serif;width:95%;height:300px;border:none;text-align:center;padding:4px;}td.heading {font-size:14px;
font-weight:bold;height:40px;vertical-align:middle;border-top:1px solid silver;border-bottom:1px solid silver;}td.text {font-size:12px;vertical-align:middle;border-bottom:1px solid silver;}

p{margin-left:25%;
margin-right:25%;}