/* CSS Control Adapters */
@import url(Menu.css);
        
        /*******************************************************/
        /************* Reset styles DO NOT REMOVE **************/
        /*******************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	font-size:12px;
	margin:0 auto;
	background-image:url("/Design/DesktopLayouts/Appleseedcms/images/body_bg.jpg");
	background-repeat:repeat-x;
	background-position:top left;
    background-color: #fff;
	color:#333;
    font-family: Arial, Helvetica, Sans-serif;
}

ol, ul {
	list-style-type: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";}
    
blockquote, q {
	quotes: "" "";}
        /*****************************************/
        /*********   Common Classes   ************/
        /*****************************************/
        
H1{
	font-size:		25px;
	font-weight:	normal;
	line-height:	40px;
	color:			#d92427;}

H2{
	font-size:		20px;
	font-weight:	normal;
	line-height:	35px;
	color:			#595959;}

h3{
	font-size:		18px;
	font-weight:	normal;
	line-height:	30px;
    color:			#737373;	}

H4{
	font-size:		16px;
	font-weight:	normal;
	line-height:	25px;
    color:			#AE2929;}

H5{
	color:			#802626;
	font-size:		15px;
	font-weight:	normal;
	line-height:	19px;}

H6{
	color:			#4d4d4d;
	font-size:		13px;
	font-weight:	normal;
    line-height:	18px;}

p {
	font-size:12px;
	line-height:17px;
	color:#333;
	display:block;}

a:link,
a.Normal:link{
	color:#da251d;
	text-decoration:none;
    outline: none;}

a:visited,
a.Normal:visited{
	color:#bf2119;
	text-decoration:none;}

a:hover,
a.Normal:hover,
a:focus,
a.Normal:focus,
a:active,
a.Normal:active{
	color:#ff3d33;
	text-decoration:none;
	cursor:pointer;}

.center{
	margin: 0 auto;}

.float_right{
	float:right;}

.clear{
	clear:both;}
    
.float_left{
	float:left;}
    
.Small {
	font-size:10px;
	color:#333;}

.Error /* Error and warning messages */{
	color:#0077be;
	font-size:12px;}

.Message /* Informative messages */{
	font-weight:normal;
	font-size:12px;
	color:#ee7a35;
	background-color:#ffcc00;}

.Head               	/* Add,announcements,articles,blog,ecc ecc */{
	font-weight:bold;
	font-size:18px;
	color:#ae2929;
	line-height:25px;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
	padding:0px 15px 0px 0px;}

.Normal{
	font-size:12px;
	line-height:16px;
	color:#333;
	text-align:left;}

.NormalItalic{
    font-style:italic;}

span.SiteTitle{
    font-size: 40px;
    font-weight: bold;
    color: #ccc;
    position: relative;
    height: 85px;
    padding-top: 30px;
    display: block;
}

            /*****************************************/
            /**********  Layout Classes   ************/
            /*****************************************/	

.DefaultLayoutDiv  {
	min-height:485px;
	position:relative;
	margin: 0 auto;
	padding:0px 0px 20px 0px;}

.PortalHeader{
	width:960px;}

.Main_Table{
	width:960px;
	border: none;
	margin: 0 auto;}

td.Main_Content_Table{
    width: 960px;}

#Content_Table{
    margin:0 auto;
    width: 960px;}
    
#Content_Table td{
    vertical-align: top;}

td.CenterTD,
td.RightTD{
    min-width: 320px!important;
    width: auto;
    overflow: hidden;
    position: relative;}

td.LeftTD{
    min-width: 320px!important;
    max-width: 320px!important;
    width: 320px;}

#leftpane,
#contentpane,
#toppane,
#bottompane,
#rightpane{
    min-height: 50px;
    padding: 10px;
    max-width: 1000px;
	margin:0 auto;}


        /*****************************************/
        /**********  Header Classes   ************/
        /*****************************************/	


.userMenu{
	position:relative;
	width: 690px;
	height:68px;
	z-index:400;
	float:right;
    vertical-align: top;
    overflow: hidden;}
    
.logo_div{
	position: relative; 
	width: 250px; 
	height: 115px;
	z-index:350;
	overflow:hidden;
	float:left;}

.header{
	width:940px;
	min-height:124px;
	margin: 0 auto;
	padding: 0px 10px 0px 10px ;}

        /*****************************************/
        /**********  Footer Styles    ************/
        /*****************************************/	
.footer_div{
	width:100%;
	margin:0 auto ;
	padding:17px 0px 0px 0px ;
    background: #4d4d4d;
    min-height: 183px;
    position: relative;}

.center_footer_content{
    width: 920px;
    margin: 0 auto;
    padding: 20px;}

        /*****************************************/
        /**********  Module Theme     ************/
        /*****************************************/

.ModuleWrap{
	margin:0 auto ;
	width:100%;
	max-width:940px!important;
    position: relative;}

.ModuleContent{
	padding:10px;
	border:none;
	margin: 5px 0px 0px;
	max-width:940px;
	position:relative;}

.module_Body table{
	border-spacing:0px!important;
	max-width:940px;}
    
.module_Body table td{
    padding: 3px 0px;}

span.titulosofertas,
.ModuleTitle{       /* Title of each module */
	font-weight:	normal;
	font-size:		18px;
	color:			#da251d;
	line-height:	20px;
	text-align:		left;
	padding:    	0px;
	margin:			0px;}

div.Control_Panel_Table{
	position:absolute;
	top:15px;
	right:0;
	z-index:400;}
 
        /************************************************/
        /**********  Admin Modules Classes   ************/
        /************************************************/	
 
.div_ev_Table{          /***** contenedor de tabla editar propiedades de modulo ****/
    padding:50px 20px 10px 20px;
	border:none;
	margin: 0px auto 10px; 
	color:#ffffff;
	width:1000px!important;}

div.div_ev_Table table{
		max-width:920px!important;
        min-width: 800px;
}

div.div_ev_Table table table{
        min-width: 30px;
}     

div.div_ev_Table table div#Content_EditTable{
	margin:0 auto!important;
    height: 400px!important;
    overflow: hidden;}

table.ModuleWrap,
div#mID0
{
	margin:0 auto ;
    padding: 40px 30px;
    width:900px;
    max-width:900px!important;}

table.ModuleWrap td{
    padding-top: 3px;
    padding-bottom: 3px;} 
    
table.ModuleWrap table table td{
    vertical-align: top;}

table.ModuleWrap a:link,
table.ModuleWrap a:visited,
table.ModuleWrap a:hover,
table.ModuleWrap a:focus,
table.ModuleWrap a:active{
	cursor:pointer;
	text-decoration:none;}

table.signInBody td{
    vertical-align: bottom;
}
option
{
    background-color: #deeeff;
	border-top:1px solid #eef6ff;
	border-bottom:1px solid #b8d3f2;
	min-height:23px;
	font-size:13px;
	line-height:22px;
	height:23px;
	color:#003366;
	padding:3px 0px 0px 5px;
    display: block;}

input[type="text"]:focus,
input[type="password"]:focus{
		border:2px solid #44c8f5!important;
        height: 23px;}

input[type="text"],
input[type="password"],
input#Content_RightPane_ctl01_password,
input#Content_RightPane_ctl01_email,
input.NormalTextBox,
option [selected],
select,
select.NormalTextBox,
textarea
{
    background-color: #ebf5ff;
	border:1px solid #bad3eb!important;
	min-height:25px;
	font-size:14px;
	line-height:25px;
	/*height:25px;*/
	color:#003366;
	padding:0px 0px 0px 5px;
    outline: none;
}

select,
select.NormalTextBox{
    padding: 0px!important;
}
/*select#Content_ContentPane_ctl01_EditTable_SITESETTINGS_LANGLIST{
    height: 75px!important;
}*/

select.multiselect{
	height:280px!important;
	max-height:280px!important;
	width:470px!important;
}

select.SelectList{
	height:250px!important;
	max-height:250px!important;
}

select.NormalTextBox{
	margin-right:5px!important;
}
 	
        /**************************************************/
        /**********  Command Buttons Classes   ************/
        /**************************************************/	

.CommandButton,
input.Normal[type="submit"],
input[type="submit"],
a.CommandButton
{
	background-color:#4d4d4d; 
	display:inline-block!important;
    color:#ccc;
	font-size:11px!important;
	font-weight:bold;
	line-height:25px!important;
	padding:0px 10px!important;
    border:	1px solid #000!important;
	min-height:25px!important;
}   
 
a.CommandButton:link,
a.CommandButton:visited,
input.CommandButton a:link,
input.CommandButton:visited,
input.Normal[type="submit"]:link,
input.Normal[type="submit"]:visited
{
    color:#ccc;
}

a.CommandButton:hover,
a.CommandButton:focus,
input.CommandButton:hover,
input.CommandButton:focus,
input.Normal[type="submit"]:hover,
input.Normal[type="submit"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus
{
	color:#fff;
	cursor:pointer;
}

a.CommandButton:active,
input.CommandButton:active
{	
	color:#ededed;
}

input.imgLoginStyle  {
    background-color:#333; 
    border: none!important;
    height:22px!important;
    width:70px!important;
    color: #ccc;
}

input.imgLoginStyle:hover,
input.imgLoginStyle:active{
    color: #fff;
}

input.lnkRegisterStyle{
    border: none!important;
    height:22px!important;
    width:70px!important;
}

input.lnkRegisterStyle:hover,
input.lnkRegisterStyle:active{
}

/* Standard Appleseed Classes */

#ContentPane_ctl00_Desktopthreepanes1_ThreePanes_ctl03_allUsers{	
	width:100%;
}

#ContentPane_ctl00_Desktopthreepanes1_ThreePanes_ctl03_allUsers td{

	color:#333333;
	border:1px solid #999999;
}

table.registerForm td{
	padding:5px;
	min-height:40px;
}

select#Content_leftPane,
select#Content_contentPane,
select#Content_rightPane{
	width:170px;
	min-width:170px!important;
	height:115px;
	background-color:#fefefe;
}

/* Alternate styles for admin and edit Tabs */
.rb_AlternateLayoutTable{
	margin:0px;
	padding:0px;
	width:100%;
}

/*******************************************************/
/****************** Site Link classes ******************/
/*******************************************************/
                  
.SiteLink_Border_Right,
.SiteLink_Border_Left{
    position: relative;
    width: 12px;
    height: 29px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: left;
}
.SiteLink_Border_Right{
}

.SiteLink_Border_Left{
}

div.SiteLink_bg{
	display:inline-block;
    float: left;
	padding: 0px;
    height: 29px;
}
span.SiteLink {
	font-weight:normal;
	font-size:12px;
	color:#ccc;
	text-align:center;
    vertical-align: bottom;
	display:inline-block;
	padding:0px 4px;
	line-height:37px;
    height: 29px;

}

.SiteLink A:link,
.SiteLink A:visited{
	display:block;
	color:#ccc;
	text-align:center;
	text-decoration:none;
    outline: none;
    font-size: 12px;
}

.SiteLink A:hover{
	color:#fff;
}
.SiteLink A:active{
	color:#ccc;
}

table.SiteLink{
    vertical-align: top;
    padding: 0px;
    height: 29px;
    float: right;
}

table.SiteLink td{
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

td.SubHead{
	color:#2d71b3;
	font-size:12px;
	line-height:15px;
	min-height:25px!important;
	min-width:155px;
	padding: 0px 0px 5px 5px;
	vertical-align:middle;
}

td.Normal{
    color:#4d4d4d;
    font-size: 13px;
    line-height: 16px;
}

td.SubHead span
{
    color:#ae2929;
    font-size: 20px;
    line-height: 30px;
   	font-weight:bold;

}

.SubSubHead{
	padding:    	0px 5px;
	font-weight:	bold;
	font-size:		14px;
	color:			#ae2929;
}

#Content_ctl00_startdate,
#Content_ContentPane_ctl01_parentTabDropDown,
#Content_ContentPane_ctl01_PermissionDropDown,
#Content_ContentPane_ctl01_tb_MobileTabName,
#Content_ContentPane_ctl01_TabTitleTextBox,
#Content_ctl00_tfName,
#Content_ctl00_tfCompany,
#Content_ctl00_tfPhone,
#Content_ctl00_tfEmail,
#Content_ctl00_ddlCountry,
#Content_ContentPane_ctl02_txtNewRole,
#Content_cacheTime,
#Content_ctl00_tfPwd,
#Content_ctl00_tfPwdAgain
{width:270px!important;}
/***********************************************************************************/

.appleseedlangclass{
	height:350px;
}