@model Password.Models.RecoveryModel

<div class="div_ev_Table">
        <table border="0" cellpadding="4" cellspacing="0" width="98%">
            <tr>
                <td align="left" class="Head">
                    <h3>Password Reset</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr noshade="noshade" size="1" />
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="4" cellspacing="0" width="98%">
            <tr>
                <td class="Normal">
                   <label id="lblMessage" class="Normal">@Model.message</label>
                </td>
            </tr>            
        </table>
        <p>
            <input type="button" id="GoHomeBtn" class="CommandButton" value="Home" onclick="goHome()"/>
        </p>
    </div>

    <script type="text/javascript">

        function goHome() {
            window.location.href = '@Url.Action("GoHome")';
        }
    
        
    </script>

